<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>loginAction</servlet-name>
        <servlet-class>com.foo.servlets.LoginServlet</servlet-class>
        <init-param>
            <param-name>loginMessage</param-name>
            <param-value>Enter your username and password</param-value>
        </init-param>
        <init-param>
            <param-name>companyName</param-name>
            <param-value>Takos D' Rito</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>loginAction</servlet-name>
        <url-pattern>/start/login</url-pattern>
        <url-pattern>/start/login.html</url-pattern>
    </servlet-mapping>
        
</web-app>
